@page "/AddEnrollmentToStudent/{StudentId:int}"
@inject IUnitOfWork _unitOfWork
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<MudText Class="mb-4" Typo="Typo.h5">Add Enrollment To Student</MudText>
<MudText Class="mb-4" Typo="Typo.h6">Current Mode: @(_isAdding ? "Adding" : "Updating")</MudText>


@if (_isLoading || _student is null)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    @foreach (var course in _courses)
                    {
                        <MudButton @onclick="() => ToggleButton(course.Id)"
                                   Class="ma-1 rounded-pill"
                                   Size="Size.Small"
                                   StartIcon="@(_selectedIds.Contains(course.Id) ? @Icons.Material.Outlined.Check : null)"
                                   Variant="Variant.Outlined"
                                   Color="@(_selectedIds.Contains(course.Id) ? Color.Success : Color.Primary)"
                                   Disabled="@IsButtonDisabled(course.Id)">
                            @course.Name
                        </MudButton>
                    }
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Outlined"
                               Color="Color.Primary"
                               Class="ml-auto"
                               Disabled="@(_selectedIds.Count < MaxSelectableButtons)"
                               @onclick="@(async () => await Submit())">
                        Submit
                    </MudButton>
                </MudCardActions>
            </MudCard>

        </MudItem>
        <MudItem xs="12" sm="5">
            <MudPaper Class="pa-4 mud-height-full">
                <MudText Typo="Typo.subtitle1"><strong>Selected courses:</strong></MudText>

                <div class="d-flex flex-column">
                    @if (_selectedIds is { Count: > 0 })
                    {
                        @foreach (var course in _courses.Where(c => _selectedIds.Contains(c.Id)))
                        {
                            <MudText>@course.Name</MudText>
                        }
                    }
                    else
                    {
                        <MudText>Nothing selected.</MudText>
                    }
                </div>
            </MudPaper>
        </MudItem>

        <MudItem xs="12">
            <MudText Typo="Typo.body2" Align="Align.Center">
                Fill out the form correctly to see the success message.
            </MudText>
        </MudItem>
    </MudGrid>
}

